/* Defina variáveis para cores e fontes */
:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-color: #000000; /* Fundo preto */
    --font-family: 'Roboto', sans-serif;
    --border-radius: 8px;
    --transition-speed: 0.3s;
    --header-bg-color: #2c2c2c; /* Cinza escuro */
    --header-border-color: #6c757d; /* Cinza */
}

/* Estilos globais */
body {
    background-color: var(--background-color);
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    color: #f8f9fa; /* Texto branco para contraste */
}

/* Cabeçalho */
header {
    background-color: var(--header-bg-color);
    color: white;
    padding: 1rem;
    text-align: center;
    border-bottom: 4px solid var(--header-border-color);
}

/* Layout usando Flexbox */
.container {
    display: flex;
    flex-wrap: wrap;
}

/* Cartões */
.card {
    background-color: #2c2c2c; /* Fundo cinza escuro */
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    padding: 1rem;
    flex: 1 1 calc(33.333% - 2rem);
    transition: transform var(--transition-speed), box-shadow var(--transition-speed);
    color: #f8f9fa; /* Texto branco */
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Botões */
button {
    background-color: var(--primary-color);
    border: none;
    border-radius: var(--border-radius);
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color var(--transition-speed);
}

button:hover {
    background-color: darken(var(--primary-color), 10%);
}

/* Tema Escuro */
body.dark-mode {
    background-color: #343a40;
    color: #f8f9fa;
}

body.dark-mode header {
    background-color: var(--header-bg-color);
}

body.dark-mode .card {
    background-color: #495057;
    color: #f8f9fa;
}

body.dark-mode button {
    background-color: #6c757d;
}

/* Galeria de vídeos em forma de grade */
.video-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adicione um pequeno espaçamento entre os vídeos */
    margin: 0; /* Remove margem da galeria */
    padding: 0; /* Remove padding da galeria */
}

.video-card {
    flex: 1 1 calc(100% - 20px); /* Ajusta a largura dos vídeos para ocupar toda a largura da tela */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.video-card video {
    width: 100%;
    height: auto;
    display: block;
}
